extends layout

block content
  article
    section
      form#autorization(action="")
        label(for="userName") Введите имя
        input(autocomplete="off" name="userName" id="userName" required)
        label(for="room") Введите номер комнаты
        input(autocomplete="off" name="room" id='room' required)
        button Отправить
    section#messsageList
      ul#messages
    section
      form#textField(action="")
        input#m(autocomplete="off" required)
        button#btn Отправить

  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/index.js")